# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

#phpstorm
.idea/

#other
.svn/

#yii
backend/runtime/
backend/web/asset/
frontend/runtime/
frontend/web/asset/

#config
common/config/main-local.php
common/config/params.php

