.align-right {
  text-align: right;
}
.macro-component-tabitem {
  margin: 0;
  height: 38px;
  line-height: 38px;
  border-right: solid 1px #eee;
}
.breadcrumbs {
  position: relative;
  padding: 0;
  min-height: 40px;
  margin: -40px 0 0;
  border-bottom: solid 2px #95A5A6;
  background: #fafafa;
}
#content {
  position: relative;
  margin-top: 0;
}
.main-container {
  padding-top: 20px;
}
.table-header {
  height: 10px;
}
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.page-header {
  margin: 0 0 30px;
}
.page-title {
  line-height: 30px;
  margin-bottom: 3px;
  font-size: 22px;
}
.theme-panel > .toggler,
.theme-panel > .toggler-close {
  top: 5px;
}
.theme-panel > .theme-options {
  top: 50px;
}
.page-header.navbar .top-menu .navbar-nav {
  margin-right: 74px;
}
.page-header.navbar .page-logo .logo-default {
  margin-top: 12px;
}
@media (min-width: 992px) {
  .page-content-wrapper .page-content {
    padding: 40px 0 0;
  }
}
